.image-container img {
    width: 50%;
    height: auto;
    .image-container {
      display: flex;
      flex-direction:block ;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
    }
    .image-container {
      display: flex;
      flex-direction:block ;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
      
    }
  
  }