

.pagina-especifica {
    background-image: url('https://imgs.elpais.com.uy/dims4/default/b388653/2147483647/strip/true/crop/993x683+15+0/resize/1440x990!/quality/90/?url=https%3A%2F%2Fel-pais-uruguay-production-web.s3.amazonaws.com%2Fbrightspot%2Fuploads%2F2021%2F03%2F03%2F603fe48cf4001.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  